<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ .Site.Params.description | default "Explore Hein Htet Kyaw’s insightful blogs and stay tuned for upcoming video tutorials." }}">
<meta name="keywords" content="{{ .Site.Params.keywords | default "your, keywords, here" }}">
<meta name="author" content="{{ .Site.Params.author | default "Your Name" }}">
<meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}">
<meta
	property="og:description"
	content="{{ .Site.Params.description | default "Explore Hein Htet Kyaw’s insightful blogs and stay tuned for upcoming video tutorials." }}"
>
<meta property="og:type" content="website">
<meta property="og:url" content="{{ .Permalink }}">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ .Title }} | {{ .Site.Title }}">
<meta
	name="twitter:description"
	content="{{ .Site.Params.description | default "Explore Hein Htet Kyaw’s insightful blogs and stay tuned for upcoming video tutorials." }}"
>
