# Ignore artifacts:
build
coverage

# Ignore build directories:
dist
out

# Ignore all files in the following directories:
/public/
/resources/
/node_modules/
themes/ksv/layouts/_default/_markup/
themes/ksv/layouts/_default/list.searchindex.json


# Ignore all HTML files:
*.md


# Ignore files
hugo_stats.json