{
  "plugins": ["prettier-plugin-go-template"],
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "go-template",
        "printWidth": 240,
        "goTemplateBracketSpacing": true,
        "bracketSameLine": true,
        "htmlVoidElements": false,
        "htmlWhitespaceSensitivity": "strict"
      }
    }
  ]
}
