{
    "plugins": [
        "prettier-plugin-go-template",
        "@awmottaz/prettier-plugin-void-html"
    ],
    "overrides": [
        {
            "files": ["*.html"],
            "options": {
                "parser": "go-template",
                "semi": false,
                "printWidth": 169,
                "tabWidth": 2,
                "useTabs": true,
                "singleQuote": true,
                "bracketSpacing": true
            }
        },
        {
            "files": ".prettierrc",
            "options": {
                "parser": "json",
                "tabWidth": 4
            }
        }
    ]
}
