# Ignore artifacts:
build
coverage

# Ignore build directories:
dist
out

# Ignore all files in the following directories:
/public/
/resources/
/node_modules/
/.agents/
/.codex/
/.frontmatter/
/.husky/
layouts/_default/_markup/
layouts/_default/list.searchindex.json
layouts/_default/index.searchindex.json

# Ignore all HTML files:
*.md


# Ignore files
frontmatter.json
hugo_stats.json
