{{- $img := resources.GetMatch .Destination -}}
{{- if not $img -}}{{- $img = resources.Get .Destination -}}{{- end -}}

{{- if $img -}}
  {{- $avif := false -}}
  {{- $webp := false -}}

  {{- /* Test AVIF support */ -}}
  {{- if (findRE `\.(png|jpe?g)$` $img.RelPermalink) -}}
    {{- $avif_test := $img.Resize "1x1 avif" -}}
    {{- if $avif_test -}}{{- $avif = $img.Resize (printf "%dx%d avif" $img.Width $img.Height) -}}{{- end -}}
  {{- end -}}

  {{- /* Generate WebP */ -}}
  {{- $webp = $img.Resize (printf "%dx%d webp" $img.Width $img.Height) -}}

  <picture class="flex justify-center items-center my-8">
    {{- with $avif -}}<source srcset="{{ .RelPermalink }}" type="image/avif">{{- end -}}
    <source srcset="{{ $webp.RelPermalink }}" type="image/webp">
    <img src="{{ $img.RelPermalink }}" alt="{{ .PlainText | safeHTML }}" {{ with .Title }}title="{{ . | safeHTML }}"{{ end }} loading="lazy" width="{{ $img.Width }}" height="{{ $img.Height }}">
  </picture>
{{- else -}}
  <img src="{{ .Destination | safeURL }}" alt="{{ .PlainText | safeHTML }}" {{ with .Title }}title="{{ . | safeHTML }}"{{ end }} loading="lazy">
{{- end -}}