<div class="article-comments">
	<h2>Comments</h2>
	<script>
		window.remark_config = {
			host: "https://comments.hhk.my.id",
			site_id: "remark",
			theme: document.documentElement.classList.contains("dark") ? "dark" : "light",
			components: ["embed"],
			no_footer: true,
		};
	</script>
	<script>
		((components, doc) => {
			const target = doc.head || doc.body;
			for (const component of components) {
				const script = doc.createElement("script");
				let ext = ".js";
				if ("noModule" in script) {
					script.type = "module";
					ext = ".mjs";
				} else {
					script.async = true;
				}
				script.defer = true;
				script.src = `${remark_config.host}/web/${component}${ext}`;
				target.appendChild(script);
			}
		})(remark_config.components || ["embed"], document);
	</script>
	<div id="remark42">Comments loading...</div>
</div>
