{{- /*
	Renders a menu for the given menu ID.

	@context {page} page The current page.
	@context {string} menuID The menu ID.

	@example: {{ partial "menu.html" (dict "menuID" "main" "page" .)
}}
*/}}
{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
	<ul class="flex items-center gap-4 mb-0 mt-0">
		{{- range . }}
			<li class="p-1 text-sm text-slate-600">
				<a
					href="{{ .URL }}"
					class="flex flex-col lg:flex-row items-center gap-x-2 group{{ if $page.IsMenuCurrent "main" . }}
						text-slate-900 font-medium
					{{ end }}{{ if $page.HasMenuCurrent "main" . }}text-slate-700{{ end }}"
				>
					{{- if .Pre }}
						<span class="mr-1 group-hover:scale-110 transition-transform">
							{{ partial "icons/icon" (dict "vendor" "default" "name" .Pre "width" "1.25rem" "height" "1.25rem") }}
						</span>
					{{- end }}
					<span>{{ .Name }}</span>
				</a>
			</li>
		{{- end }}
	</ul>
{{- end }}
