{{ with resources.Get "twemoji/twemoji.min.js" }}
	{{ with resources.Fingerprint . }}
		<script>
			(function () {
				var loadTwemoji = function () {
					var script = document.createElement("script");
					script.src = "{{ .RelPermalink }}";
					script.integrity = "{{ .Data.Integrity }}";
					script.crossOrigin = "anonymous";
					script.onload = function () {
						window.twemoji &&
							window.twemoji.parse(document.querySelector("main") || document.body, {
								base: "/twemoji/",
								folder: "svg",
								ext: ".svg",
							});
					};
					document.head.appendChild(script);
				};

				window.setTimeout(loadTwemoji, 8000);
			})();
	</script>
	{{ end }}
{{ end }}
