{{ with resources.Get "twemoji/twemoji.min.js" }}
	{{ with resources.Fingerprint . }}
		<script>
			(function () {
				var loadTwemoji = function () {
					var script = document.createElement("script");
					script.src = "{{ .RelPermalink }}";
					script.integrity = "{{ .Data.Integrity }}";
					script.crossOrigin = "anonymous";
					script.onload = function () {
						window.twemoji &&
							window.twemoji.parse(document.body, {
								base: "/twemoji/",
								folder: "svg",
								ext: ".svg",
							});
					};
					document.head.appendChild(script);
				};

				if ("requestIdleCallback" in window) {
					requestIdleCallback(loadTwemoji, { timeout: 2500 });
					return;
				}

				window.addEventListener("load", loadTwemoji, { once: true });
			})();
	</script>
	{{ end }}
{{ end }}
