<!doctype html>
<html prefix="og: http://ogp.me/ns#" lang="{{ .Language }}">
	<head itemscope itemtype="https://schema.org/WebPage">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>
			{{- if .IsHome -}}
				Home |
				{{ .Site.Title }}
			{{- else if .Params.hide_site_title -}}
				{{ .Page.Title }}
			{{- else if .Page.Title -}}
				{{ .Page.Title }}
				|
				{{ .Site.Title }}
			{{- else -}}
				{{ .Site.Title }}
			{{- end -}}
		</title>
		{{ partialCached "header/head" . "head" }}
		{{ partialCached "header/css.html" . (printf "css-%s" .Site.Params.cssVersion) }}
	</head>
	<body class="container mx-auto py-3 sm:py-0 px-2 md:px-0 bg-white text-gray-900 dark:bg-gray-950 dark:text-gray-50">
		{{ if $.Site.Params.gtm }}
			{{ partialCached "header/gtm" . "gtm" }}
		{{ end }}
		{{- partialCached "header/header" . "header" -}}
		<section class="my-10" id="content">
			<h2 class="sr-only">Main Contents</h2>
			{{- block "main" . }}
			{{- end }}
		</section>
		{{ partialCached "footer/footer" . "footer" }}
	</body>
</html>
