{{ define "main" }}
	{{ $pages := .Pages.ByDate.Reverse }}
	{{ $paginator := .Paginate $pages 20 }}
	{{ $dateFormat := "2006-01-02" }}
	<main>
		<article>
			<header><h1>{{ .Title }} ss</h1></header>
			{{ .Content }}
		</article>

		<ul>
			{{ range $paginator.Pages }}
				<li>
					<a href="{{ .RelPermalink }}">
						{{ .Date.Format $dateFormat }} |
						{{ .Title }}
					</a>
				</li>
			{{ end }}
		</ul>

		{{ if gt $paginator.TotalPages 1 }}
			<nav>
				{{ template "_internal/pagination.html" . }}
			</nav>
		{{ end }}
	</main>
{{ end }}
