<article
	class="post relative bg-gray-200 rounded-xl dark:bg-slate-800 overflow-hidden w-full mx-auto flex items-center 
              opacity-0 translate-y-5 transition-all duration-500 ease-out"
>
	{{ with .Params.image }}
		{{ $img := resources.Get . }}
		{{ if $img }}
			<img
				src="{{ ($img.Resize "80x80").RelPermalink }}"
				alt="{{ . }}"
				class="relative -left-5 w-20 h-20 rounded-full shadow-lg transition-all opacity-75 duration-300 hover:scale-110 hover:shadow-xl hover:opacity-100 bg-cover bg-center select-none"
			>
		{{ end }}
	{{ end }}


	<div class="grow flex flex-col py-3 pl-2">
		<h2 class="text-slate-900 mb-3 text-sm font-medium dark:text-white">
			<a href="{{ .Permalink }}">{{ .Title }}</a>
		</h2>
		<span class="text-slate-800 text-sm font-thin dark:text-slate-200 text-rendering-optimizeLegibility">
			<time datetime="{{ .Date.Format " 2006-01-02T15:04:05Z07:00" }}">
				<i class="fa-light fa-calendar-check"></i>
				{{ .PublishDate.Format "Jan 2, 2006" }}
			</time>
			•
			<span class="hidden sm:inline-block">
				<i class="fa-light fa-stopwatch"></i>
				{{ .ReadingTime }}
				{{ if eq .ReadingTime 1 }}
					min
				{{ else }}
					mins
				{{ end }}
				read •
			</span>
			<i class="fa-light fa-file-lines"></i>
			{{ .FuzzyWordCount }}
			Words
			<span class="hidden sm:inline-block">• {{ partial "post-view-count.html" . }}</span>
		</span>
	</div>
</article>
