<article class="post gorw not-prose relative bg-slate-50 rounded-xl dark:bg-slate-800/25 overflow-auto">
  <div class="absolute inset-0 bg-grid-slate-100 [mask-image:linear-gradient(0deg,#fff,rgba(255,255,255,0.6))] dark:bg-grid-slate-700/25 dark:[mask-image:linear-gradient(0deg,rgba(255,255,255,0.1),rgba(255,255,255,0.5))]" style="background-position: 10px 10px;"></div>
  <div class="overflow-hidden relative mx-auto flex items-center">
    {{ with .Params.image }}
      <img src="{{ absURL (printf "%s" .) }}" alt="{{ . }}" class="absolute -left-6 w-24 h-24 rounded-full shadow-lg hover:transition-all" />
    {{ end }}
    <div class="flex flex-col py-3 pl-24">
      <h1 class="text-slate-900 mb-3 text-sm font-medium dark:text-slate-200">
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </h1>
      <span class="text-slate-500 text-sm font-thin dark:text-slate-400">
        <time datetime="{{ .Date.Format " Mon, Jan 2, 2006" }}"><i class="fa-light fa-calendar-check"></i> {{ .PublishDate.Format "Jan 2, 2006" }}</time> • <span class="hidden sm:inline-block"><i class="fa-light fa-stopwatch"></i> {{ .ReadingTime }} {{ if eq .ReadingTime 1 }}min{{ else }}mins{{ end }} read •</span> <i class="fa-light fa-file-lines"></i> {{ .FuzzyWordCount }} Words
      </span>
    </div>
  </div>
</article>
