{{ define "main" }}
	<section>
		{{ $posts := (where site.RegularPages "Type" "posts") }}
		{{ $.Scratch.Set "years" (slice) }}
		{{ range $posts }}
			{{ $year := (time .Date).Year }}
			{{ if not (in ($.Scratch.Get "years") $year) }}
				{{ $.Scratch.Add "years" (slice $year) }}
			{{ end }}
		{{ end }}
		{{ $years := sort ($.Scratch.Get "years") }}
		{{ $n := sub (len $years) 1 }}
		{{ range $i, $dummy := $years }}
			{{ $year := index $years (sub $n $i) }}
			<h2 class="text-2xl font-bold text-slate-900 dark:text-white">{{ $year }}</h2>
			<ul>
				{{ range $post := where $posts "Date" ">=" (time (printf "%d-01-01" $year)) }}
					{{ if lt (time $post.Date).Year (add $year 1) }}
						<li class="flex items-center mb-2">
							<span class="w-16 text-gray-400 dark:text-gray-500 tabular-nums">{{ (time $post.Date).Format "Jan 2" }}</span>
							<a href="{{ $post.RelPermalink }}" class="flex-1 text-base text-blue-600 dark:text-blue-300 hover:underline font-medium"
								>{{ $post.Title }}</a
							>
							{{ with $post.Params.views }}
								<span
									class="ml-2 inline-flex items-center px-2 py-0.5 rounded-full bg-gray-700/20 dark:bg-gray-200/10 text-xs text-gray-700 dark:text-gray-200 font-semibold"
								>
									<svg class="w-4 h-4 mr-1 opacity-70 inline" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
										<path d="M1.5 12s4-7.5 10.5-7.5S22.5 12 22.5 12s-4 7.5-10.5 7.5S1.5 12 1.5 12Z" />
										<circle cx="12" cy="12" r="3.5" />
									</svg>
									{{ . | humanize }}
								</span>
							{{ end }}
						</li>
					{{ end }}
				{{ end }}
			</ul>
		{{ end }}
	</section>
{{ end }}
