{{ define "main" }}
	{{ .Content }}


	<div>
		{{ range $i, $p := first 4 (where site.RegularPages "Section" "posts") }}
			<div class="mb-8">
				<h2 class="text-xl font-bold mt-2 mb-1">
					<a href="{{ $p.RelPermalink }}" class="hover:underline">{{ $p.LinkTitle }}</a>
				</h2>
				<div class="mb-2">
					<span class="text-xs text-gray-500 dark:text-gray-400">{{ (time $p.Date).Format "Jan 2, 2006" }}</span>
				</div>
				<div class="text-gray-700 dark:text-gray-300 text-base mb-3 font-normal" style="line-height:1.7;">
					{{ $p.Summary }}
				</div>
			</div>
		{{ end }}
		<div class="flex justify-center mt-8">
			<a href="/posts/" class="px-4 py-2 rounded bg-blue-600 text-white font-semibold hover:bg-blue-700 dark:bg-blue-700 dark:hover:bg-blue-800 transition"
				>Read more posts</a
			>
		</div>
	</div>
{{ end }}
