{{ define "main" }}
	<article class="mx-auto max-w-3xl">
		<header class="mb-6">
			<h1 class="page-header-title">{{ .Title }}</h1>
			{{ if .Date }}
				{{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
				{{ $dateHuman := .Date | time.Format ":date_long" }}
				<time datetime="{{ $dateMachine }}" class="page-header-time">{{ $dateHuman }}</time>
			{{ end }}
		</header>

		<div class="prose max-w-none">
			{{ .Content }}
		</div>

		{{ if .GetTerms "tags" }}
			<div class="mt-8">
				{{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
			</div>
		{{ end }}
	</article>
{{ end }}
