{{- /* _partials/header/head.html */ -}}
{{- $cacheKey := print .RelPermalink (site.LanguageCode | default "") -}}
{{- $css := partialCached "header/css.html" . "css-static" -}}
{{- $seo := partialCached "header/seo" . $cacheKey -}}
{{- $tags := partialCached "header/tags" . "tags-static" -}}
{{- $search := partialCached "search-index" . $cacheKey -}}

{{- $seo -}}
{{- $tags -}}
{{- $search -}}
{{- $css -}}


<!-- Move analytics to end of head -->
{{- template "_internal/google_analytics.html" . -}}
{{- $gtm := partialCached "header/gtm" . "gtm-static" -}}
{{- $gtm -}}
