<section class="px-4 py-2">
	{{ range .Site.Data.about.skills }}
		<div class="py-3 rounded-md">
			<div class="flex items-center justify-between mb-2">
				<h2 class="text-base font-medium dark:text-white">
					<i
						class="{{ .icon }}"
						{{ if eq .icon "fa-brands fa-html5" }}
							style="color: #E34F26;"
						{{ else if eq .icon "fa-brands fa-css3" }}
							style="color: #1572B6;"
						{{ else if eq .icon "fa-brands fa-css" }}
							style="color: #06B6D4;"
						{{ else if eq .icon "fa-brands fa-js" }}
							style="color: #F7DF1E;"
						{{ else if eq .icon "fa-brands fa-react" }}
							style="color: #61DAFB;"
						{{ else if eq .icon "fa-brands fa-python" }}
							style="color: #3776AB;"
						{{ else if eq .icon "fa-brands fa-php" }}
							style="color: #777BB4;"
						{{ else if eq .icon "fa-brands fa-laravel" }}
							style="color: #FF2D20;"
						{{ else if eq .icon "fa-brands fa-git-alt" }}
							style="color: #F05032;"
						{{ else if eq .icon "fa-brands fa-github" }}
							style="color: #181717;"
						{{ else if eq .icon "fa-brands fa-elementor" }}
							style="color: #D73A49;"
						{{ else if eq .icon "fa-brands fa-wordpress" }}
							style="color: #21759B;"
						{{ else if eq .icon "fa-brands fa-microsoft" }}
							style="color: #00A4EF;"
						{{ else if eq .icon "fa-brands fa-windows" }}
							style="color: #0078D6;"
						{{ else if eq .icon "fa-brands fa-linux" }}
							style="color: #FCC624;"
						{{ else if eq .icon "fa-light fa-code" }}
							style="color: #FF4088;"
						{{ else if eq .icon "fa-brands fa-telegram" }}
							style="color: #26A5E4;"
						{{ end }}
					></i>
					{{ .dev }}
				</h2>
				<h3 class="text-sm font-medium dark:text-white">{{ .percentage }}%</h3>
			</div>
			<div class="w-full bg-gray-200 rounded-full h-1 dark:bg-gray-700">
				<div class="bg-blue-600 h-1 rounded-full" style="width: {{ .percentage }}%"></div>
			</div>
		</div>
	{{ end }}
</section>
